* {
    font-family: arial, sans-serif;
}

.white-box {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 0.5em 0.5em 0 0;
    position: relative;
    padding: 3em 1em 1em;
    margin: 2em;
}

.white-box .title {
    position: absolute;
    top: 1em;
    left: 1em;
    font-weight: 700;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.white-box .options {
    position: absolute;
    top: 1em;
    right: 1em;
    font-weight: 700;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav {
    margin: 1em 0 0 3.1em;
}

.main-content {
    opacity: 1;
    overflow: hidden;
    transition: opacity 0.25s ease;
    -webkit-transition: opacity 0.25s ease;
}

.main-content.transition-hide {
    opacity: 0;
}

.search-container button {
    padding: 0.5em;
    width: 20%;
}

.search-container input {
    padding: 0.5em;
    width: 76%;
}

.label   {
    font-size: 1em;
}

.tweet-filter {
    margin-left: 1em;
}