* {
    font-family: arial, sans-serif;
}

.white-box {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 0.5em 0.5em 0 0;
    position: relative;
    padding: 3em 1em 1em;
    margin: 2em;
}

.white-box .title {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 12px;
    font-weight: 700;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#totals {
    float: left;
    width: 20%;
}

#tweets {
    float: left;
    width: 80%;
}

nav {
    margin: 2em 2em 0 2em;
}

.main-content {
    opacity: 1;
    overflow: hidden;
    transition: opacity 0.25s ease;
    -webkit-transition: opacity 0.25s ease;
}

.main-content.transition-hide {
    opacity: 0;
}

