.white-box {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
    position: relative;
    padding: 45px 15px 15px;
    margin: 30px 30px;
}

.white-box .title {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}