<!DOCTYPE HTML>
<html>
<head>
    <title>Twitter Sentiment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav>
    </nav>
    <main>
    </main>
	<script type="text/html" id="nav-template">
	</script>
    <script type="text/html" id="nav-item-template">
        <a href="#"><%= label %></a>
	</script>
	<script type="text/html" id="tweets-template">
        <span class="title">Tweets</span>
		<table class="table table-striped">
            <thead>
                <th>User</th>
                <th>Tweet</th>
                <th>Sentiment</th>
            </thead>
            <tbody></tbody>
		</table>
	</script>
    <script type="text/html" id="total-tweets-template">
        <span class="title">Total Tweets</span>
		<table class="table table-striped">
            <tbody>
                <tr><th>Positive</th><td><%= positive %></td></tr>
                <tr><th>Negative</th><td><%= negative %></td></tr>
                <tr><th>Neutral</th><td><%= neutral %></td></tr>
                <tr><th>Mixed</th><td><%= mixed %></td></tr>
            </tbody>
		</table>
	</script>
    <script type="text/html" id="tweet-template">
        <td><%= user.screen_name %></td>
		<td><%= text %></td>
		<td><span class="label <%= getSentimentClass() %>"><%= getSentimentLabel() %></span></td>
	</script>
    <!-- Pages -->
    <script type="text/html" id="dashboard-template">
        <div id="totals"></div>
        <div id="tweets"></div>
    </script>
    <script type="text/html" id="explore-template">
    </script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.2.1/backbone.marionette.js"></script>
	<script src="/app/app.js"></script>
	<script src="/app/modules/dashboard.js"></script>
	<script src="/app/modules/explore.js"></script>
	<script src="/app/modules/nav.js"></script>
	<script src="/app/modules/total-strategies.js"></script>
	<script src="/app/modules/totals.js"></script>
	<script src="/app/modules/tweets.js"></script>
	<script type="application/javascript">
		window.app.start();
	</script>
</body>
</html>
