<!DOCTYPE HTML>
<html>
<head>
    <title>Twitter Sentiment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <main>
    </main>	
	<script type="text/html" id="tweets-template">
        <span class="title">Tweets</span>
		<table class="table table-striped">
            <thead>
                <th>User</th>
                <th>Tweet</th>
                <th>Sentiment</th>
            </thead>
            <tbody></tbody>
		</table>
	</script>
    <script type="text/html" id="tweet-template">
        <td><%= user.screen_name %></td>
		<td><%= text %></td>
		<td><span class="label <%= getSentimentClass() %>"><%= sentiment.type %></span></td>
	</script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/vendor/js/jquery.js"></script>
	<script src="/vendor/js/underscore.min.js"></script>
	<script src="/vendor/js/backbone.min.js"></script>
	<script src="/vendor/js/backbone.marionette.min.js"></script>
	<script src="/app/app.js"></script>
	<script type="application/javascript">
		window.app.start();
	</script>
</body>
</html>
