.widget__tweet-list  {

  .label   {
    font-size: 1em;
  }

  .positive {
    background-color: $color-positive;
  }

  .negative {
    background-color: $color-negative;
  }

  .neutral {
    background-color: $color-neutral;
  }

  .mixed {
    background-color: $color-mixed;
  }

}